Source: neovim
Section: editors
Priority: optional
Maintainer: dpc <dpc@localhost>
Build-Depends:
     ninja-build,
     gettext,
     libtool,
     libtool-bin,
     autoconf,
     automake,
     cmake,
     g++,
     pkg-config,
     unzip,
     curl,
     doxygen,
Rules-Requires-Root: no

Package: neovim
Provides:
    editor,
    vim
Conflicts:
   neovim-runtime
Replaces:
   neovim-runtime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Vim out of the box.
