Source: neovim
Section: editors
Priority: optional
Maintainer: dpc <dpc@localhost>
Build-Depends:
    autoconf,
    automake,
    cmake,
    debhelper (>= 11)

Package: neovim
Provides:
    editor,
    vim
Conflicts:
   neovim-runtime
Replaces:
   neovim-runtime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Vim out of the box.
